/* #main{
    background-image: url('https://th.bing.com/th/id/OIP.QXYu8JqMdwfnNnAlDTuoGQHaFN?rs=1&pid=ImgDetMain'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9; 
} */